<div class="container1">

    <!-- Login Card -->
    <div class="card1">
        <h2>LOG IN</h2>
        <div class="icon1">🔑</div>

        <a href="{% url 'homepage:login' %}" class="btn1 register-btn">
            <button class="btn2 login-btn" type="button">
                🔑 LOG IN
            </button>
        </a>

    </div>

    <!-- Register Card -->
    <div class="card1">
        <h2>REGISTER</h2>
        <div class="icon1">👤</div>

        <a href="{% url 'homepage:register' %}" class="btn1 register-btn">

            <button class="btn2 login-btn" type="button">


                👤 REGISTER NOW
            </button>
        </a>


    </div>

</div>
